*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    padding: 0 20px;
    background-color:khaki;
    display: flex ;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}
.item {
    width: 400px;
    height: 400px;
}
.url{
    font-size: 12px;
}